include scripts
script src='//code.highcharts.com/modules/exporting.js'
link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'
script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'

/ Activity
- views_by_day = activities['views_by_day']
- participations_by_day = activities['participations_by_day']
- v_p = activities['v_p']

/ Assignments
- tard = assignments['tard']
- scores = assignments['scores']
- scores_percent = assignments['scores_percent']

/ Dicussions
- if discussions_list.values[0] == 'No discussion available'
  - discussions_has_content = false
- else
  - discussions_has_content = true
  - discussions = discussions_list['discussions']
  - discussions_id = discussions_list['discussions_id']
  - discussion_height = discussions_list['discussion_height']

/ Student Summaries
- summaries_tard = student_summaries['tard']
- summaries_height = student_summaries['summaries_height']
- views_pars = student_summaries['views_pars']
- views_pars_height = student_summaries['views_pars_height']

div class='row'
  h2 align='center' Participations & Views
  div class='col-md-1'
  div class='col-md-5'
    div id='views-by-day'
  div class='col-md-5'
    ul class='nav nav-tabs'
      li class='active'
        a data-toggle='tab' href='#stackedActivity' Stacked
      li
        a data-toggle='tab' href='#discreteActivity' Discrete

    div class='tab-content'
      div id='stackedActivity' class='tab-pane fade in active'
        == line_chart v_p, stacked: true

      div id='discreteActivity' class='tab-pane fade'
        == line_chart v_p, discrete: true
  div class='col-md-1'

div class='row'
  h2 align='center' Assignments
  div class='col-md-1'
  div class='col-md-5'
    / h4 Information about lateness
    == column_chart tard, stacked: true, colors: ['#ED4337', '#434348', '#90ed7d']

  div class='col-md-5'
    ul class='nav nav-tabs'
      li class='active'
        a data-toggle='tab' href='#normalAssignment' Regular
      li
        a data-toggle='tab' href='#flippedAssignment' Flipped

    div class='tab-content'
      div id='normalAssignment' class='tab-pane fade in active'
        div id='assignment-box-percent'

      div id='flippedAssignment' class='tab-pane fade'
        div id='assignment-box-flipped'
  div class='col-md-1'

- if discussions_has_content
  div class='row'
    h2 align='center' Discussions
    div class='col-md-1'
    div class='col-md-5'
      / h4 Discussions over time
      == column_chart discussions

    div class='col-md-5'
      / h4 Dicussions by Participant
      == bar_chart discussions_id, height: "#{discussion_height}px"

    div class='col-md-1'

div class='row'
  h2 align='center' Student Summaries
  div class='col-md-1'
  div class='col-md-5'  
    / h4 Information about lateness
    == bar_chart summaries_tard, stacked: true, height: "#{summaries_height}px", colors: ['#ED4337', '#434348', '#90ed7d', '#7cb5ec']

  div class='col-md-5'
    ul class='nav nav-tabs'
      li class='active'
        a data-toggle='tab' href='#stackedSummaries' Stacked
      li
        a data-toggle='tab' href='#discreteSummaries' Discrete

    div class='tab-content'
      div id='stackedSummaries' class='tab-pane fade in active'
        / h4 Page Views & Participations by Student
        == bar_chart views_pars, stacked: true, height: "#{views_pars_height}px"

      div id='discreteSummaries' class='tab-pane fade'
        / h4 Page Views & Participations by Student
        == bar_chart views_pars, discrete: true, height: "#{views_pars_height * 1.5}px"
  div class='col-md-1'

javascript:
  var cat = JSON.parse("#{scores.keys}".replace(/&quot;/g, '"').replace(/amp;/g, ''));
  var values = JSON.parse("#{scores.values}");
  var cat_percent = JSON.parse("#{scores_percent.keys}".replace(/&quot;/g, '"').replace(/amp;/g, ''));
  var values_percent = JSON.parse("#{scores_percent.values}");
  var dow = JSON.parse("#{views_by_day.keys}".replace(/&quot;/g, '"').replace(/amp;/g, ''));
  var views_by_day = JSON.parse("#{views_by_day.values}");
  var participations_by_day = JSON.parse("#{participations_by_day.values}");
  $(function () {
    $('#views-by-day').highcharts({
        title: {
            text: 'Views & Participation by Day of Week',
            x: -20 //center
        },
        subtitle: {
            text: 'Aggregate Course Level Data',
            x: -20
        },
        xAxis: {
            categories: dow
        },
        yAxis: {
            title: {
                text: 'Views & Participation'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Views',
            data: views_by_day
        }, {
            name: 'Participations',
            data: participations_by_day
        }]
    });
    $('#assignment-box-flipped').highcharts({
        chart: {
            type: 'boxplot',
            inverted: true
        },
        title: {
            text: 'Assignment Scores (%)'
        },
        legend: {
            enabled: false
        },
        xAxis: {
            categories: cat_percent,
            title: {
                text: 'Assignments'
            }
        },
        yAxis: {
            min: -10,
            max: 110,
            title: {
                text: 'Percent Scores'
            },
        },
        series: [{
            name: 'Observations',
            data: values_percent,
            tooltip: {
                headerFormat: '<em>Assignment: {point.key}</em><br/>'
            }
        }, {
            name: 'Outlier',
            color: Highcharts.getOptions().colors[0],
            type: 'scatter',
            data: [],
            marker: {
                fillColor: 'white',
                lineWidth: 1,
                lineColor: Highcharts.getOptions().colors[0]
            },
            tooltip: {
                pointFormat: 'Observation: {point.y}'
            }
        }]
    });
    $('#assignment-box-percent').highcharts({
        chart: {
            type: 'boxplot'
        },
        title: {
            text: 'Assignment Scores (%)'
        },
        legend: {
            enabled: false
        },
        xAxis: {
            categories: cat_percent,
            title: {
                text: 'Assignments'
            }
        },
        yAxis: {
            min: 0,
            max: 100,
            title: {
                text: 'Percent Scores'
            }
        },
        series: [{
            name: 'Observations',
            data: values_percent,
            tooltip: {
                headerFormat: '<em>Assignment: {point.key}</em><br/>'
            }
        }, {
            name: 'Outlier',
            color: Highcharts.getOptions().colors[0],
            type: 'scatter',
            data: [],
            marker: {
                fillColor: 'white',
                lineWidth: 1,
                lineColor: Highcharts.getOptions().colors[0]
            },
            tooltip: {
                pointFormat: 'Observation: {point.y}'
            }
        }]
    });
  });
