include scripts
script src='//code.highcharts.com/modules/exporting.js'

- tard = data['tard']
- summaries_height = data['summaries_height']
- views_pars = data['views_pars']
- views_pars_height = data['views_pars_height']

h3 Student Lateness

== bar_chart tard, stacked: true, height: "#{summaries_height}px", colors: ['#ED4337', '#434348', '#90ed7d', '#7cb5ec']

div align='center'
  input type='radio' class='part_view' name='part-view' value='stacked' Stacked
  input type='radio' class='part_view' name='part-view' value='discrete' Discrete
div id='bar-chart-stacked'
  h3 Page Views & Participations by Student (Stacked)
  == bar_chart views_pars, stacked: true, height: "#{views_pars_height}px"
div id='bar-chart-discrete'
  h3 Page Views & Participations by Student (Discrete)
  == bar_chart views_pars, discrete: true, height: "#{views_pars_height * 1.5}px"

javascript:
  var radios = document.getElementsByClassName('part_view'),
      stacked_div = document.getElementById('bar-chart-stacked'),
      discrete_div = document.getElementById('bar-chart-discrete');

  function changeChart() {
      "use strict";
      if (radios[0].checked == true) {
          stacked_div.style.display = 'inline';
          discrete_div.style.display = 'none';
      } else if (radios[1].checked == true) {
          stacked_div.style.display = 'none';
          discrete_div.style.display = 'inline';
      }
  }

  var radio,
      idx;

  for (idx = 0; idx < radios.length; idx += 1) {
      radio = radios[idx];
      radio.onclick = changeChart;
  }

  function clickRegular() {
      radios[1].checked = true;
      stacked_div.style.display = 'none';
  }

  window.addEventListener('load', setTimeout(clickRegular, 1000));
